<h1> Your Random Restaurant is: </h1>



<% number_of_businesses = @businesses.length %>
<% random_number = rand(number_of_businesses) %>

<p> <%= @businesses[random_number].name %> </p>

<!-- <% @businesses.each do |business| %>
	<%= business.name %>
	<br>
<% end %> --> 