// Change background color of all pages
body {
	background-color: #F9F9F9;
}

// logo and potential navbar
.header {
	padding-top: 25px;
	padding-left: 8%;
}

.header h3 {
	letter-spacing: 3px;
	font-size: 18px;
	color: #6CC5B3;
}

// splash title
.banner {
	background-color: none;
	text-align: center;
	padding: 50px 0px 50px 0px;
	padding-left: 15%;
	padding-right: 15%;
}

.banner h1 {
	font-size: 55px;
	color: #696969;
}

.banner h3 {
	color: #A9A9A9;
	font-weight: 300;
}

.input {
	padding: 25px;
	text-align: center;
}

#pac-input {
	width: 300px;
	height: 40px;
	position: relative;
	margin-right: 7px;
}

#pac-input[type="text"]{
	font-size: 20px;
	font-weight: 300;
}

select {
  background: none;
  font-size: 20px;
  height: 39px;
  width: 160px;
  border: 0;
  outline: 1px solid #CCC;
  background-color: white;
  display: inline-block;
  margin-right: 7px;
  margin-top: 15px;
  font-weight: 300;
}


input[type=submit] {
	height: 40px;
	width: 110px;
	font-size: 20px;
	border: none;
	display: inline-block;
	margin-top: 15px;
	background-color: #6CC5B3;
	color: white;
	font-weight: 300;
}

.footer {
	position: fixed;
	background-color: white;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #D3D3D3;
}

.footer p {
	text-align: center;
	padding: 15px;
	color: #D3D3D3;
}